/* CSS Document */
a:link{
   color: #0066cc;
   text-decoration : none;
}
a:hoover{
   color: #333333;
}
a:visited{
   color: #333333;
}
a:active{
   color: #0066cc;
}
body {
   background-color: #FFFFFF;
   margin: 0px 0px 0px 0px;
   text-align: center;
}
.campo_texto {
   background-color: #FFFFFF; 
   color: #000000; 
   font-family: Arial, Helvetica, sans-serif;   
   font-size: 11px; 
   border: 1px solid #999999;
}
.campo_texto_n {
   background-color: #FFFFFF; 
   color: #000000; 
   font-family: Arial, Helvetica, sans-serif;   
   font-size: 11px; 
   font-weight: bold;
   border: 1px solid #999999;
}
.campo_texto_transparente {
   background:transparent;
   border:none;
   color: #000000; 
   font-family: Arial, Helvetica, sans-serif;   
   font-size: 11px; 
}
a {

}

.boton {
   background-image: url(recursos/images/009/css/fondo_boton.gif);
   border: 1px solid #C0C0C0;
   height: 22px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-style: normal;
   line-height: normal;
   font-weight: bold;
   font-variant: normal;
   color: #565F84;
   cursor: hand;
}
.boton_01 {
   background-color: #ffffff;
   border: 1px solid #C0C0C0;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-style: normal;
   font-variant: normal;
   font-weight: bold;
   height: 20px;
   line-height: normal;
   color: #565F84;
   cursor: hand;
}
.combos {
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial, Helvetica, sans-serif;  	
   font-size: 10px;
}
.combos_p {
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 9px;
   font-weight: bold;
}
.texto_negro {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-style: normal;
   line-height: normal;
   font-weight: normal;
   font-variant: normal;
}
.texto_negro_j {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   text-align: justify;
   font-style: normal;
   line-height: normal;
   font-weight: normal;
   font-variant: normal;
}
.texto_negro_n {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-style: normal;
   line-height: normal;
   font-weight: bold;
   font-variant: normal;
}
.texto_azul {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-style: normal;
   line-height: normal;
   font-weight: normal;
   font-variant: normal;
   color: #6666BB;
}
.texto_blanco {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-style: normal;
   line-height: normal;
   font-weight: bold;
   font-variant: normal;
   color: #ffffff;
}
.marco_01 {
   background-color: #185490;
}
.fondo_celda_01 {
   background-color: #185490;

   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-style: normal;
   line-height: normal;
   font-weight: bold;
   font-variant: normal;
   color: #FFFFFF;
}
.fondo_celda_02 {
   background-color: #769ABE;

   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-style: normal;
   line-height: normal;
   font-weight: bold;
   font-variant: normal;
   color: #FFFFFF;
}
.fondo_celda_03 {
   background-color: #FFFFFF;

   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-style: normal;
   line-height: normal;
   font-weight: normal;
   font-variant: normal;
   color: #000000;
}
.fondo_celda_04 {
   background-color: #D0D0D0;

   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-style: normal;
   line-height: normal;
   font-weight: normal;
   font-variant: normal;
   color: #000000;
}
.fondo_celda_05 {
   background-color: #E6E6E6;

   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-style: normal;
   line-height: normal;
   font-weight: normal;
   font-variant: normal;
   color: #000000;
}
.fondo_celda_06 {
   background-color: #FFFFC0;

   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-style: normal;
   line-height: normal;
   font-weight: bold;
   font-variant: normal;
   color: #0F3193;
}
.texto_01 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-style: normal;
   line-height: normal;
   font-weight: bold;
   font-variant: normal;
   color: #FFFFFF;
}
.texto_02 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-style: normal;
   line-height: normal;
   font-weight: normal;
   font-variant: normal;
   color: #000000;
}
.texto_03 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-style: normal;
   line-height: normal;
   font-weight: normal;
   font-variant: normal;
   color: #000000;
}
.texto_bievenido {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-style: normal;
   line-height: normal;
   font-weight: bold;
   color: #013364;
}

img {
   border:none
}

.cursorMano{
   cursor: hand;
}

.texto_tituloPDF {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   font-style: normal;
   line-height: normal;
   font-weight: bold;
   font-variant: normal;
}

